@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

.form-label{
	margin-bottom: 2px;
	font-size: $small-font-size;
	font-weight: 500;
}


.card{
	@extend .shadow-sm;
	background: $white;
	position: relative;
	.card-header{
		background: $dark;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: bold;
		a, &{ 
			color: $white;
			text-decoration: none;
		}
	}
}